/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #4b7b67
$textColor = #1b1818
$darkTextColor = rgb(227, 227, 227)
$borderColor = #eaecef
$codeBgColor = #282c34
